.allFeature{
    display: flex;


}
.descriptionFeature{
    background: bisque;
    width: 500px;
    height: 200px;
    position: absolute;
    border-radius: éàPX;
    z-index: 2;
    
}

.descriptionFeature{
    text-align: justify;
}

.title{
    text-decoration: underline;
    text-align: center;
    word-wrap: break-word;
}

.imageOfFeature{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
.imageOfFeature img{
    width: 200px;
    height: 200px;
    
}
