.icon svg {
  max-width: 32px;
  fill: black;
}

.globe svg {
  max-width: 32px;
  stroke-width: 2px;
  stroke: black;
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
