.jobList {
  width: 100%;
  background-color: #bcbfbe;
}
.ItemList {
  display: grid;
  grid-template-columns: 1fr 2fr 2rem 12ch;
  grid-template-rows: 1fr;
  justify-content: center;
  padding-left: 0.5rem;
  white-space: nowrap;
}
.icons svg {
  width: 100%;
  stroke: black;
  stroke-width: 1px;
  transition: stroke-width 150ms ease-in-out;
}

.icons a:hover svg {
  stroke-width: 2px;
}

.icons {
  display: block;
  margin-block: auto;
}
.IconsNone {
  display: none;
}
.entreprise {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons a {
  text-decoration: none;
  color: black;
}

.titleJob {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  margin-left: auto;
  justify-self: flex-end;
}

.waiting {
  background-color: rgb(239, 216, 184);
  border-radius: 10px;
}

.accepted {
  background-color: rgb(183, 224, 164);
  border-radius: 10px;
}

.denied {
  background-color: rgb(226, 152, 151);
  border-radius: 10px;
}

.noResponse {
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}

.textContainer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
