.formGroup {
  background: #f5f9ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.formField {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  margin-top: 1rem;
}

.formBtn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.formBtn input {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.formBtn input:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #124155,
    #14294d,
    #11556b,
    #0d1726
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.formBtn input:focus {
  outline: none;
}

.span {
  color: red;
}
