.container {
  background-color: #eed8b8;
  min-height: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.closeBtn {
  display: flex;
  margin-left: auto;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.closeBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.rowBtn {
  margin-top: 3rem;
}

.inputContainer {
  width: 100%;
}

.input {
  width: 100%;
  margin-inline: auto;
  position: relative;
  margin-top: 2rem;
  display: block;
  cursor: text;
}

.input input,
.input textarea,
.input select {
  width: 100%;
  outline: none;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border: #b8947f solid 1px;
  background-color: #fbf5ed;
  border-radius: 10px;
  transition: box-shadow 250ms ease-in-out;
  resize: none;
}

.input input::placeholder,
.input textarea::placeholder {
  opacity: 0;
}

.input input:focus,
.input textarea:focus,
.input select:focus {
  box-shadow: 0 0 0 3px #b8947f9c;
}

.input span {
  position: absolute;
  top: 0.7rem;
  left: 0.75rem;
  transition: top 200ms ease-in-out, font-size 200ms ease-in-out;
}

.input input:required + span::after,
.input textarea:required + span::after,
.input select:required + span::after {
  content: ' *';
  color: #c33737;
  font-weight: bold;
}

.input:focus-within span,
.input input:not(:placeholder-shown) + span,
.input textarea:not(:placeholder-shown) + span,
.input select:not([value='']):valid + span {
  top: -1.35rem;
  font-size: 0.9rem;
}

.button {
  width: 100%;
  max-width: 256px;
  display: block;
  margin-bottom: 2rem;
  margin-inline: auto;
  outline: none;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border: #b8947f solid 1px;
  background-color: #fbf5ed;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #b8947f9c;
  background-color: hsl(34, 64%, 92%);
}

.button:hover {
  background-color: hsl(34, 64%, 92%);
}

.button:active {
  background-color: hsl(34, 64%, 88%);
}

.error {
  font-size: 0.85rem;
  margin-top: 3px;
  margin-left: 0.85rem;
  color: #c33737;
}

@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
    gap: 1rem;
  }
}
