.container {
  background-color: #773413;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.container svg {
  fill: white;
}
