.mainContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  position: relative;
}

.leftContainer,
.rightContainer {
  overflow-y: auto;
  padding: 1rem;
}

.rightContainer {
  padding-left: 0.5rem;
}

.leftContainer {
  padding-right: 0.5rem;
  padding-bottom: 5rem;
}

.desktopOnly {
  display: none;
}

.popup {
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  .popup {
    position: absolute;
    inset: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.205);
    overflow-y: auto;
  }

  .leftContainer {
    padding-right: 1rem;
    min-height: 100vh;
  }

  .rightContainer {
    padding: 0;
  }
}

.addButton {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

@media screen and (min-width: 769px) {
  .mainContainer {
    flex-direction: row;
  }

  .leftContainer,
  .rightContainer {
    width: 50%;
    height: 100vh;
  }

  .desktopOnly {
    display: unset;
  }
}
